.Experience {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

.ex_h_title {
  font-size: 3rem;
  font-weight: var(--font-semi-bold);
  color: black;
}

.ex_header {
  display: flex;
  justify-content: center;;
}

.ex_footer {
  display: flex;
  max-width: 50rem;
}

.ex_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 1rem 4rem;
}

.ex_f_content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.details_category {
  font-size: 2rem;
  font-weight: var(--font-semi-bold);
}

.details_company {
  text-decoration: none;
  color: var(--company-color)
}

.details_desc {
  font-size: 14px;
  color: var(--desc-color)
}

.Details {
  padding-left: 13vw;
  position: relative;
  z-index: 1;
}

.details_circle {
  position: absolute;
  left: -10px;
  font-size: 5vh;
  top: 1vh;
  color: var(--company-color);
  border-radius: 50%;

}
/* 
@media screen and (max-width: 700px) {
  .details_circle {
    display: none;
  }
}  */