.About {
  /* height: 88vh; */
  padding: 3vw 8vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: static;
  margin-top: 4rem;
}

.about_head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_head_title {
  font-size: 3rem;
  font-weight: var(--font-semi-bold)
}

.about_head_desc {
  color: var(--desc-color);
  font-size: 1rem;
}

.about_f_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_footer {
  padding: 1.5rem;
  display: flex;
  justify-content: row;
}

.about_f_left {
  flex: 1;
  padding-left: 4rem;
}

.about_f_left_image {
  border-radius: 2rem;
  width: 500px;
}

.about_f_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_f_right_show {
  display: flex;
  gap: 1rem;
}

.about_f_right_show_in {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1.2rem 2.2rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  align-items: center;
  /* display: inline-block */
}

.about_f_right_show_flex {
  font-size: 3rem;
}

.about_f_right_show_in_title {
  font-size: 1.3rem;
  font-weight: var(--font-semi-bold)
}

.about_f_right_show_in_total {
  color: var(--desc-color);
  font-size: 14px;
}

.about_f_right_text {
  font-size: 20px;
  color: var(--desc-color)
}

.about_f_right_cv {
  display: flex;
  gap: 5rem;
  padding-top: 2rem;
  align-items: center;
  height: 9rem;
}

.about_f_btn {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.about_f_btn_text {
  font-size: 1.2rem;
  color: white;
  font-weight: var(--font-semi-bold);
}

.about_f_btn_image {
  width: 25px;
}

.about_f_right_cv_video {
  font-size: 60px;
  color: var(--home-color);
  transition: 0.3s ease-in-out;
}

.about_f_right_cv_video:hover {
  font-size: 63px;
}

@media screen and (max-width: 1530px) {
  .About {
    padding: 3vw 5vw;
  }
}

@media screen and (max-width: 1440px) {
  .About {
    padding: 3vw 3vw;
    gap: 3rem;
  }
  .about_f_left_image {
    width: 400px;
  }
  .about_f_right_text {
    font-size: 16px;
  }
  .about_f_right_show_in {
    padding: 0.7rem 1.7rem;
  }
  .about_f_right_cv {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 1255px) {
  .about_footer {
    flex-direction: column;
    width: 90vw;
    align-items:center;
    gap: 2rem;
  }
  .about_f_right_show {
    align-items: center;
    justify-content: center;
  }
  .about_f_left_image {
    width: 300px;
  }
  .about_f_right_cv {
    justify-content: center;
  }
  .about_f_left {
    padding-left: 0;
  }
  .about_f_right_text {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .about_f_right_show_in {
    width: 150px;
  }
  .about_f_right_show_flex {
    font-size: 1.7rem;
  }
  .about_f_right_show_in_title {
    font-size: 1.1rem;
  }
  .about_f_right_show_in_total {
    font-size: 12px;
  }
  .about_f_left_image {
    width: 230px;
  }
}

@media screen and (max-width: 525px) {
  .about_f_right_show_in {
    width: 120px;
    padding: 0.5rem 0.9rem;
  }
  .about_f_right_show_flex {
    font-size: 1.7rem;
  }
  .about_f_right_show_in_title {
    font-size: 0.9rem;
  }
  .about_f_right_show_in_total {
    font-size: 10px;
  }
  .about_f_right_cv {
    gap: 2rem;
  }
  .about_f_right_text {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .about_f_right_show_in {
    width: 90px;
    padding: 0.3rem 0.5rem;
  }
  .About{
    gap: 1rem;
  }
  .about_f_right_show_flex {
    font-size: 1.4rem;
  }
  .about_f_right_show_in_title {
    font-size: 0.8rem;
  }
  .about_f_right_show_in_total {
    font-size: 9px;
  }
  .about_f_right_cv {
    gap: 2rem;
  }
  .about_f_btn_text {
    font-size: 0.9rem
  }
  .about_f_btn {
    padding: 1rem 1.1rem;
    height: 4rem;
  }
  .about_f_right {
    gap: 1rem;
  }
}