.Card {
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow:hidden;
  position: relative;
}


.Card:hover .card_b_title{
  color: white
}

.Card:hover .card_b_bold{
  color: whitesmoke;
}

.Card:hover .card_b_head {
  color: lightgray;
}

.Card:hover .github_img {
  display: inline-block;
}

.Card:hover .link_img {
  display: inline-block;
}


.card_top {
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
}

.card_t_image {
  width: 348px;
  height: 230px;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;
}

.card_top_black {

  position: absolute;
  width: 348px;
  height: 230px;
  background-color: grey;
  border-radius: 10px 10px 0px 0px;
  top: 0;
  opacity: 0.2;
}

.card_b_title {
  font-size: 20px;
  font-weight: var(--font-semi-bold);
  color: black;
}

.card_bottom {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card_b_container {
  color: var(--desc-color);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card_b_bold {
  font-weight: bold;
  color: #555;
}

.github_img, .link_img{
  width: 60px;
  position: absolute;
  top:10px;
  cursor: pointer;
  display: none;
}

.github_img {
  left: 10px;
}

.link_img {
  right: 10px;
}

.link_show,
.git_show {
  display: block;
}

.title_show {
  color: white;
  font-size: 20px;
}

.tech_show {
  color: whitesmoke;
}

.card_show {
  width: 275px;
  margin-top: 30px;
}

.black_show,
.image_show {
  width: 273px;
  height: 180px;
}
/* .head_show {
  color: grey
} */