.Home {
  /* height: 88vh; */
  padding: 9rem 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_arrow {
  position: fixed;
  bottom: 15vw;
  right: 5vw;
  font-size: 45px;
  color: #555;
  z-index: 3;
}

.home_container {
  display: flex;
}

.left_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
  margin-top: -50px;;
  /* flex: 0.5 */
}

.home_inside_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  margin-bottom: 3rem;
}

.left_home_img_edit {
  color: var(--home-color);
  font-size: 2rem;
}

.middle_home_name_hand {
  width: 5rem;
  padding-left: 1rem;
}

.middle_home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
  padding-left: 6rem;
  padding-right: 4rem;
}

.middle_home1 {
  width: 78vw;
}

.middle_home_name_inner {
  font-size: 5rem;
  font-weight: var(--font-semi-bold);

}

.middle_home_about {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.middle_home_about_line {
  border-top: 1px solid var(--about-color);
  width: 8rem;
}

.middle_home_about_inner {
  font-size: 20px;
  color: var(--about-color);
}

.middle_home_desc_inner {
  color: var(--desc-color)
}


.distance {
  gap: 0.5rem;
  margin-top: 3rem;
}

.distance5 {
  width: 240px;
  text-decoration: none;
}

.send_hello {
  width: 2rem;
}

.middle_home_send_inner {
  color: white;
  font-size: 1.5rem;
  font-weight: var(--font-medium);
}

.middle_home_scroll {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  padding-top: 6rem;
  font-size: 1.2rem;
}

.right_home {
  flex: 1;
}

.scroll_hidden {
  display: none;
}



@keyframes profile {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
  }
  
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.right_home_image {
  width: 38rem;
  animation: profile 8s ease-in-out infinite;
}

@media screen and (max-width: 1700px) {
  .right_home_image {
    width: 30rem;
  }
  .Home {
    padding: 9rem 10rem;
  }
}

@media screen and (max-width: 1600px) {
  .right_home_image {
    width: 30rem;
  }
  .Home {
    padding: 9rem 8rem;
  }
}

@media screen and (max-width: 1500px) {
  .Home {
    padding: 9rem 5rem;
  }
}

@media screen and (max-width: 1400px) {
  .Home {
    padding: 9rem 3rem;
  }
  .middle_home_name_inner {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1285px) {
  .home_container {
    display: inline-block;
  }
  .Home {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 1110px) {
  .middle_home1 {
    width: 68vw;
  } 
}
@media screen and (max-width: 1000px) {
  .middle_home1 {
    width: 78vw;
  } 
}
@media screen and (max-width: 905px) {
  .middle_home1 {
    width: 78vw;
  } 
}

@media screen and (max-width: 790px) {
  .middle_home1 {
    width: 98vw;
  }
  .right_home_image {
    width: 22rem;
  }
  .middle_home_name_inner {
    font-size: 4rem;
  }
  .distance {
    margin-top: 2rem;
  }
}


@media screen and (max-width: 630px) {
  .middle_home1 {
    width: 98vw;
  }
  .right_home_image {
    width: 20rem;
  }
  .middle_home_name_inner {
    font-size: 3rem;
  }
  .distance {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .middle_home1 {
    width: 98vw;
  }
  .right_home_image {
    width: 20rem;
  }
  .middle_home_name_inner {
    font-size: 3rem;
  }
  .distance {
    margin-top: 2rem;
  }
  .middle_home {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .middle_home_about_inner {
    font-size: 16px;
  }
  .middle_home_about_line {
    width: 5rem;
  }
  .right_home_image {
    width: 18rem;
  }
  .middle_home_desc_inner {
    font-size: 14px;
  }
  .middle_home_name_inner {
    font-size: 2rem;
  }
  .middle_home_name_hand {
    width: 3rem;
  }
  .middle_home_send_inner {
    font-size: 1.2rem;
  }
  .middle_home {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .distance {
    margin-top: 1.5rem;
  }
  .distance5 {
    width: 175px;
  }
  .btn {
    padding: 0.8rem 1.5rem;
  }
  .send_hello {
    width: 1.7rem;
  }
}

@media screen and (max-width: 465px) {
  .middle_home_name_inner {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .Home {
    padding: 3rem;
  }
  .middle_home_name_inner {
    font-size: 2rem;
  }
  .right_home_image {
    width: 16rem;
    left: 1rem
  }
  .left_home {
    gap: 1rem;
    left: 1rem;
    top: 7rem;
  }
  .left_home_img_edit {
    font-size: 1.5rem;
  }
  .middle_home_about_inner {
    font-size: 14px;
  }
  .middle_home_about_line {
    width: 3rem;
  }
  .middle_home_desc_inner {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .right_home_image {
    width: 14rem;
  } 
  .Home {
    padding: 2rem;
  }
  .middle_home_name_inner {
    font-size: 1.5rem;
  } 
}