.Skill {
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 5rem 0rem;
}

.skill_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill_h_title {
  font-size: 3rem;
  font-weight: var(--font-semi-bold)
}

.skill_h_main {
  color: var(--desc-color);
  font-size: 1rem;
}

.skill_footer {
  background-color: #fff;
  border: 1px solid lightgray;
  padding: 3rem 4rem;
  border-radius:1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_f_s_container {
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.skill_f_skill {
  /* width: 12vw; */
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 5px;
}

.skill_f_s_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.skill_f_s_t_title {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold)
}

.skill_f_s_t_icon {
  font-size: 1.5rem;
}

.skill_f_s_bottom {
  font-size: 0.8rem;
  color: var(--desc-color);
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .skill_f_s_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Skill {
    padding: 3rem 0rem;
  }
}

@media screen and (max-width: 850px) {
  .skill_f_s_container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .Skill {
    padding: 3rem 0rem;
  }
  .skill_footer {
     
    padding: 1.5rem 2rem;
    /* width: 300px; */
  }
}

@media screen and (max-width: 650px) {
  .skill_f_s_t_title {
    font-size: 1rem;
  }
  .skill_f_s_bottom {
    font-size: 0.5rem;
  }
  .Skill {
    padding: 2rem 0rem;
  }
}

@media screen and (max-width: 450px) {
  .skill_f_s_t_title {
    font-size: 0.8rem;
  }
  .skill_f_s_bottom {
    font-size: 0.6rem;
  }
  .Skill {
    padding: 2rem 0rem;
    gap: 2rem;
  }
}