.Footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  padding: 5rem 0rem;
  border-top: 1px solid grey;
  margin-top: 5rem;
  box-shadow: 1px 1px 10px 4px lightgray;
  /* background-color: white; */
}

.footer_1st_title {
  font-size: 3rem;
  font-weight: var(--font-semi-bold)
}

.footer_2nd_quote {
  color: var(--desc-color);
}

.footer_3rd {
  display: flex;
  gap: 1rem;
}

.footer_2nd_quote1 {
  display: none;
  color: var(--desc-color);
}

.footer_2nd_quote2 {
  display: none;
  color: var(--desc-color);
}

@media screen and (max-width: 440px) {
  .footer_2nd_quote, .footer_2nd_quote2 {
    display: none;
  }
  .footer_2nd_quote1 {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .footer_2nd_quote, .footer_2nd_quote1 {
    display: none;
  }

  .footer_2nd_quote2 {
    display: block;
  }

  .Footer {
    padding: 3rem 0rem; 
  }

}
