/*====================== GOOGLE FONTS ========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*======================= VARIABLES ==========================*/
:root {
    --header-background-color: whitesmoke;
    --body-font: 'Poppins', sans-serif;
    --header-font: 1.5rem;
    --header-font-hover: 1.7rem;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --desc-color: #7e7f84;
    --about-color: #555;
    --home-color: #333;
    --company-color: #b641ab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: whitesmoke
}

.btn {
    padding: 1rem 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--home-color);
    border: none;
    cursor: pointer;
  }