.Work {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 3rem;
  /* padding: 5rem 15rem; */
}

.work_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_h_title {
  font-size: 3rem;
  font-weight: var(--font-semi-bold);
}

.work_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.work_b_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_h_desc {
  font-size: 1rem;
  color: var(--desc-color)
}

@media screen and (max-width: 1300px) {
  .work_bottom {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .work_bottom {
    grid-template-columns: 1fr;
  }
}